.DS_Store
*.sublime-project
*.sublime-workspace
.idea/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map

pids
logs
results
test-results

node_modules
npm-debug.log

dump.rdb
bundle.js

build
dist
coverage
.nyc_output
.env

graphql.*.json
junit.xml

.vs

test/globalConfig.json
distTs

# Random things to ignore
ignore/
package-lock.json
/yarn-offline-cache
.cache
resource.tsx
